@import url(components/reset.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container-home,
.container-success {
  background-image: url("https://www.colorhexa.com/ce2829.png");
  /*   background-image: url("/Assets/mvp-banner.png"); */
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}
.teknolojik-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ce2829;
}

#order-pizza {
  border: none;
  border-radius: 1rem;
  background-color: #fdc913;
  padding: 10px 15px;
}

.home-slogan h1 {
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  color: white;
}

.order-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ce2829;
}
/* 

#### Renk Kodları

Sarı #FDC913, Açık Gri: #5F5F5F, Koyu Gri #292929, Kırmızı #CE2829, Bej: #FAF7F2 */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
